#drinkList {
    margin-bottom: 40px;
}

.drinkContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
    background-color: rgb(119, 187, 99);
    margin: 30px auto;
    overflow: auto;
    width: 860px;
}

.drinkChildDiv {
    position: relative;
    height:192px;
    padding: 10px;
}

.drinkChildDiv:not(:last-child)::after {
    content: "";
    width:0;
    height:192px;
    border-right: 1px solid rgb(184, 184, 184);

    position:absolute;
    top:10px;
    right:0;
}

.drinkImg {
    flex-shrink: 0;
    width: 160px;
    background-color: white;
    overflow: hidden;
}

.drinkTable {
    flex-grow: 2;
    background-color: white;
}

table {
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: white;
}

tr:nth-child(odd){
    background-color: whitesmoke;
}

.drinkDescription {
    flex-shrink: 0;
    overflow-y: scroll;
    min-height: 100%;
    background-color: white;
    width: 160px;
    text-align: center;
    padding-right: 5px;
}

.drinkChildDiv::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height:5px;
}

.drinkChildDiv::-webkit-scrollbar-thumb {
    background-color:  rgb(184, 184, 184);
}