#drinkList {
    margin-bottom: 40px;
}

.drinkContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(119, 187, 99);
    padding: 15px;
    margin: 15px auto;
    border-radius: 5px;
    overflow: auto;
    width: 860px;
}

.drinkChildDiv {
    height: auto;
    margin: 0px 10px;
}

.drinkImg {
    flex-shrink: 0;
    padding: 10px 0;
    width: 160px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.drinkTable {
    flex-grow: 2;

    background-color: white;
    border-radius: 5px;
    
}

.drinkDescription {
    flex-shrink: 0;
    min-height: 100%;
    background-color: white;
    border-radius: 5px;
    width: 160px;
    text-align: center;
}