#menuContainer {
    position: fixed;
    top: 0;
    left: 0;

    width: 180px;
    height: auto;

    display: flex;
    flex-direction: row;
}

#menuContainer, #searchContainer {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
    background-color: white;
    margin: 0px auto;
    z-index: 7;
}

#searchContainer {
    position: sticky;
    top: 0px;
    width: 860px;
    height: 48px;
}

#searchInput {
    width: 100%;
    border: none;
    padding: 0;
    margin: 5px;
}